amqp==2.3.2
APScheduler==3.5.1
billiard==3.5.0.4
blinker==1.4
celery==4.2.1
certifi==2018.8.13
chardet==3.0.4
click==6.7
dateparser==0.7.0
Flask==0.12.2
Flask-And-Redis==0.7
Flask-APScheduler==1.8.0
Flask-Celery-Helper==1.1.0
Flask-Cors==3.0.3
Flask-JWT==0.3.2
Flask-JWT-Extended==3.3.4
Flask-Mail==0.9.1
Flask-PyMongo==0.5.1
Flask-Redis==0.3.0
Flask-SocketIO==3.0.0
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
marshmallow==2.15.4
PyJWT==1.4.2
pymongo==3.5.1
python-dateutil==2.7.3
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2017.3
raven==6.9.0
redis==2.10.6
regex==2018.2.21
requests==2.18.4
selenium==3.14.0
six==1.11.0
tzlocal==1.5.1
vine==1.1.4
webargs==1.8.1
Werkzeug==0.12.2
