[Unit]
Description=serve newsfeed
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/rp-yt-backend
ExecStart=/usr/bin/python3 /opt/rp-yt-backend/app/browser/report_license.py

[Install]
WantedBy=multi-user.target
