[Unit]
Description=VPN Gate Service
After=network.target

[Service]
User=root
Group=www-data
ExecStart=/usr/local/bin/autovpn

[Install]
WantedBy=multi-user.target
